.highlights {
    padding: 2rem 1rem;
    /* color: var(--accent);
    display: flex;
    flex-direction: row; */
}

.highlights--container {
    max-width: 65rem;
    margin: 0 auto;
}

.highlights--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.highlights--content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}
