/*
I will use a global CSS file because
- It is a small to medium-sized app with relatively simple styling needs.
- I want to maintain a consistent visual design across the app.
- I am working on a project with a small team or a solo developer.
*/

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

/* CSS Variables */
:root {
    --primary-bg: #ffffff;
    --dark-primary-bg: #1a1e14;
    --secondary-bg: #f5e6a6;
    --secondary-text: #8b9a6e;
    --accent: #f4c300;
    --dark-secondary-bg: #8b9a6e;
    --dark-primary-text: #1d1d1d;
    --dark-secondary-text: #f5e6a6;
    --dark-accent: #f4c300;
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 2rem;
    --font-size-small-large-screen: 1rem;
    --font-size-base-large-screen: 1.125rem;
    --font-size-medium-large-screen: 1.25rem;
    --font-size-large-large-screen: 1.5rem;
    --font-size-xlarge-large-screen: 1.75rem;
    --font-size-xxlarge-large-screen: 2.25rem;
    --default-padding: 2rem;
    --header-height: 97px;
    --header-padding: 0rem 1rem;
    --footer-padding: 4rem 16rem;
    --footer-padding-mobile: 2rem 4rem;
    --footer-gap: 2rem;
    --footer-gap-mobile: 1rem;
    --header-bg-color: var(--secondary-bg);
    --footer-bg-color: var(--secondary-bg);
    --footer-grid-template: repeat(auto-fill, minmax(150px, 1fr));
    --link-default-decoration: none;
    --font-family-heading: "Roboto", sans-serif;
    --font-family-paragraph: "Open Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: var(--dark-primary-bg);
        --secondary-bg: var(--dark-secondary-bg);
        --primary-text: var(--dark-primary-text);
        --secondary-text: var(--dark-secondary-text);
        --accent: var(--dark-accent);
    }
}

@media (min-width: 768px) {
    :root {
        --font-size-small: var(--font-size-small-large-screen);
        --font-size-base: var(--font-size-base-large-screen);
        --font-size-medium: var(--font-size-medium-large-screen);
        --font-size-large: var(--font-size-large-large-screen);
        --font-size-xlarge: var(--font-size-xlarge-large-screen);
        --font-size-xxlarge: var(--font-size-xxlarge-large-screen);
    }
}

.header--nav.visible {
    opacity: 1;
    display: flex;
}

@media (max-width: 960px) {
    .header--hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header--nav {
        flex-direction: column;
        position: absolute;
        top: calc(var(--header-height) + 32px);
        right: 0;
        width: 100%;
        padding: 0 0 2rem 0;
        background-color: var(--secondary-bg);
        align-items: center;
        opacity: 0;
        display: none;
        transform: translateY(-10%);
        transition:
            opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out;
        z-index: 100;
        border-bottom: 1px dashed var(--secondary-text);
    }
}

footer {
    padding: var(--footer-padding-mobile);
    gap: var(--footer-gap-mobile);
    grid-template-columns: var(--footer-grid-template);
}
@media (min-width: 960px) {
    .header--hamburger {
        display: none;
    }

    .header--nav {
        display: inline-flex;
        flex-direction: row;
    }
}

/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

body {
    font-size: var(--font-size-base);
    /* background-color: var(--primary-bg); */
    color: var(--primary-text);
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-paragraph);
}

/* Typography */
h1 {
    font-size: var(--font-size-xxlarge);
    font-family: var(--font-family-heading);
}

h2 {
    font-size: var(--font-size-xlarge);
    font-family: var(--font-family-heading);
}

h3 {
    font-size: var(--font-size-large);
    font-family: var(--font-family-heading);
}

h4 {
    font-size: var(--font-size-medium);
    font-family: var(--font-family-heading);
}

h5,
h6 {
    font-size: var(--font-size-small);
    font-family: var(--font-family-heading);
}

p,
a,
ul,
ol,
li,
blockquote {
    font-size: var(--font-size-base);
    font-family: var(--font-family-paragraph);
}

button,
input,
textarea,
select {
    font-size: var(--font-size-base);
    font-family: var(--font-family-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent);
}

p,
a,
ul,
ol,
li,
blockquote {
    color: var(--secondary-text);
}

a {
    text-decoration: var(--link-default-decoration);
    color: var(--accent);
}

a:hover {
    text-decoration: var(--link-hover-decoration);
}

nav ul li a {
    position: relative;
    color: var(--primary-text);
    text-decoration: none;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0rem;
    right: 0;
    background: var(--accent);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

header nav ul li a::after {
    margin-top: 1.6rem;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: var(--accent);
}

/* Form Elements */
button,
input,
textarea,
select {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    border: 1px solid var(--primary-text);
}

/* Header */
header {
    margin: 0 auto;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
}

header a {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li {
    list-style: none;
}

/* Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--default-padding);
}

/* Footer */

footer h2 {
    padding-bottom: 0;
}

.footer--logo {
    max-width: 150px;
    align-self: center;
    margin: 0 auto;
}

.header--logo img,
.footer--logo img {
    width: 100%;
}

@media (min-width: 960px) {
    .header--logo img,
    .footer--logo img {
        padding-right: 4rem;
    }
}

.footer--nav nav {
    padding: 0;
}

.footer--nav ul,
.footer--contact ul,
.footer--social ul {
    padding: 0;
}

.footer--nav li,
.footer--contact li,
.footer--social li {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link--icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: var(--link-default-decoration);
}

.link--icon:hover {
    text-decoration: var(--link-hover-decoration);
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--secondary-text);
    border-color: var(--accent);
    background-color: var(--accent);
}

.highlights {
}

.testimonials {
}

.about {
}
